/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* UTILITIES */

.angle.hidden {
    display: none;
}

.item.active {
    display: block;
}

/* COMMON */
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* debug */
    background-color: aqua;
}

.slider {
    width: 60%;
    margin: 0 auto;
    /* debug */
    background-color: blueviolet;
}

.slider-items {
    width: 100%;
    height: 60vh;
    position: relative;
}

.item {
    height: 100%;
    display: none;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.angle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.angle-up {
    position: absolute;
    top: 10px;
    left: 275px;
}

.angle-down {
    position: absolute;
    bottom: 10px;
    left: 275px;
}